<h2>Creating a new song!</h2>

<% if @song.errors.any? %>
  <div id="error_explanation">
    <p>There were some errors:</p>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
      <li><%=message %></li>
      <%end%>
    </ul>
  </div>
<%end%>


<%= form_for song_path(@song) do | %>
  <div class="field<%= ' field_with_errors' if @song.errors[:title].any? %>">
    <%= label_tag "title", "Title" %>
    <%= text_field_tag "title", @song.title %>
  </div>

  <div class="field<%= ' field_with_errors' if @song.errors[:released].any? %>">
    <%= label_tag "released", "Released" %>
    <p>Must be either true or false.</p>
    <%= text_field_tag "released", @song.category %>
    </p>
  </div>

  <div class="field<%= ' field_with_errors' if @song.errors[:release_year].any? %>">
    <%= label_tag "release_year", "Release Year" %>
    <p>Must be Integer less than or equal to the current year</p>
    <%= text_field_tag "release_year", @song.release_year %>
  </div>
  
  <div class="field<%= ' field_with_errors' if @song.errors[:artist_name].any? %>">
    <%= label_tag "artist_name", "Artist Name" %>
    <br>
    <%= text_field_tag "artist_name", @song.artist_name %>
  </div>
  
  <div class="field<%= ' field_with_errors' if @song.errors[:genre].any? %>">
    <%= label_tag "genre", "Genre" %>
    <br>
    <%= text_field_tag "genre", @song.genre %>
  </div>
  
  
  <%= submit_tag "Submit" %>
<% end %>